
<div class="container">
  <h1><Strong>Saved Articles</Strong></h1>
  
</div>

{{#each articles}}
<div class="container">
    <button  type="button" data-id="{{_id}}"  class="delete btn btn-danger">Delete</button>
    <button  type="button"  data-id="{{_id}}" class="comment btn btn-success" data-toggle="modal" data-target="#savedModal">Comment</button>
    <div class="jumbotron1">
    <button class="accordion"><strong>{{Headline}}</strong></button>
      <div class="panel">
        <h6><strong>Summary:</strong> {{Summary}}</h6>
        <h6><strong>URL:</strong> vietcetera.com/en{{URL}}</h6>
      </div>
    </div> 
</div>
 {{/each}}


<!-- Modal -->
<div class="modal fade" id="savedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="articleId">Modal title</h5>
        <br>
       
      </div>
      <div class="modal-body">
       <textarea id="addComment" class="form-control"></textarea>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="savedChanges btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


{{!-- Display saved articles here --}}


{{!-- Accordion CSS --}}
 <style>
.accordion {
  background-color: rgba(54, 54, 54, 0.829);
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  border-radius: 8px;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
  margin: auto 15px;
}

.active, .accordion:hover {
  background-color: chocolate; 
}

.panel {
  padding: 18px;
  display: none;
  background-color:  rgba(255, 255, 255, 0.829);
  overflow: hidden;
  width: 100%;
  border-radius: 8px;
  margin-left: 15px;
}
</style>

{{!-- Accordion Javascript --}}
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>
